.content.has-text-centered
  p
    <strong>Flowy UI</strong> by <a href="http://joindrover.com">Drover</a>. The source code is licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. Flowy UI is a graphical user interface for the <a href="https://github.com/DroverLtd/flowy">Flowy</a> Rails workflow engine.

