class TaskRestart extends React.Component {
  static propTypes = {}

  state = {
    task: null,
    confirm: false,
    confirmMessage: null,
    restartFunction: null
  }

  componentDidMount() {
    const comp = this
    PubSub.subscribe('TASK_RESTART', function(message, data) {
      comp.setup(data.task)
    })
  }

  confirmRestart(message, restartFunction) {
    this.setState({ confirm: true, confirmMessage: message, restartFunction: restartFunction })
  }

  setup(task = this.state.task) {
    this.setState({
      task: task,
      confirm: false,
      confirmMessage: null,
      restartFunction: null,
      error: false,
      errorMessage: null
    })
  }

  restart(continueInstance = false) {
    const comp = this
    $.ajax({
      url: "<%= Rails.application.routes.url_helpers.restart_flowy_instance_tasks_path %>",
      type: "POST",
      data: {
        id: comp.state.task.id,
        continue: continueInstance
      },
      headers: {
        token: "abc"
        // TODO: Change this
      },
      dataType: "json",
      success: function(data) {
        if (data.result === "error") {
          comp.setState({
            error: true,
            errorMessage: data.message
          })
        } else {
          PubSub.publish("TASK_PANEL_CLOSE")
        }
      },
      error: function(data) {
        if (data.status === 500) {
          comp.setState({
            error: true,
            errorMessage: data.statusText
          })
          console.log(data.responseText)
        } else {
          comp.setState({
            error: true,
            errorMessage: data.responseJSON.message
          })
        }
      }
    })
  }

  restartTaskOnly() {
    const comp = this
    this.confirmRestart("Are you sure you want to restart this task only?", function() {
      // Called if the user confirms restarting this task only
      comp.restart()
    })
  }

  restartInstanceFromHere() {
    const comp = this
    this.confirmRestart("Are you sure you want to restart the whole instance, starting from this task?", function() {
      // Called if the user confirms restarting the whole instance
      comp.restart(true)
    })
  }

  renderError() {
    if (this.state.error) {
      return (<div className="notification is-danger">Error: {this.state.errorMessage}</div>)
    }
    return null
  }

  renderConfirmation() {
    return (
      <div>
        <p className="content">{this.state.confirmMessage}</p>
        <button onClick={this.state.restartFunction.bind(this)}>Yes</button>
        &nbsp;or&nbsp;
        <button onClick={this.setup.bind(this, this.state.task)}>Cancel</button>
        <br /><br />
        {this.renderError()}
      </div>
    )
  }

  render() {
    if (this.state.hidden) {
      return (<div />)
    }

    if (this.state.confirm) {
      return this.renderConfirmation()
    }

    return (
      <section className="section">
        <p className="content">There are two ways to restart this task:</p>
        <p className="content">
          <button onClick={this.restartTaskOnly.bind(this)}>Restart this task only</button>
          &nbsp;or&nbsp;
          <button onClick={this.restartInstanceFromHere.bind(this)}>Restart the whole instance from here</button>
        </p>
        <p className="content">Press the appropriate button to continue, or cancel by closing this window.</p>
      </section>
    )
  }
}
